* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", sans-serif;
  color: white; 
}

.landing-screen {
  transition: ease-in 1s; 
  background: url("./assets/noaa1(edit).jpg") no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.landing-img {
  width: 80%;
  margin-bottom: 32px;
  border-radius: 50%;
}

.logo-text {
  margin-bottom: 12px;
  font-size: 36px;
  color: #fff;
}

.landing-screen > p {
  margin-bottom: 24px;
}

.landing-btn {
  background: hsl(210, 100%, 50%);
  color:  #f3f3f3;
  padding: 15px 30px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.logo-text, .landing-btn, .landing-screen > p {
  text-shadow: 0 0 50px hsla(0, 0%, 0%, .4);
}

#main-screen {
  padding: 24px;
  text-align: center;
  transition: ease-in 1s;
  animation: changeToDark 1s linear;
}

form {
  display: flex;
  background: white;
  width: 100%;
  padding: 8px 16px;
  border-radius: 50px;
}

.input-box {
  border-radius: 10px;
  padding: 8px;
  background-color: transparent;
  border: none;
  width: 100%;
}

input[type="search"]:focus {
  outline: none;
}

.submit-btn {
  cursor: pointer;
  background: transparent;
  border: none;
}

.search-icon {
  width: 25px;
}

.location-date {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  align-items: center;
}

.location {
  font-weight: bold;
}

.date {
  font-size: small;
}

.main-weather-img {
  width: 50%;
}

.main-weather-temp {
  font-size: 48px;
}

.main-weather-desc {
  margin-top: 10px;
}

.additional-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 32px;
}

.info-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #1b1d1f;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  gap: 10px;
}

.info-card img {
  width: 30px;
}

.info-card--value {
  font-weight: bold;
}

.info-card--text {
  font-size: small;
}

.hourly-weekly {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 12px;
}

.hourly-active {
  font-weight: bolder;
}

.full-report-link {
  cursor: pointer;
  color: hsl(210, 100%, 50%);
}

.hourlies {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.hourly-info {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  background: #1b1d1f;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.hourly-info:first-child {
  margin-left: 0;
}

.hourly-info:last-child {
  margin-right: 0;
}

.active-hourly {
  background-color: hsl(210, 100%, 50%);
}

#weeklies {
  margin: 24px;
  animation: changeToDark linear 1s;
}

#weeklies h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 42px;
}

.back-btn {
  background: transparent;
  border: none;
  margin-bottom: 24px;
}

.back-icon {
  width: 20px;
  cursor: pointer;
}

.subheading-date {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 12px;
  align-items: center;
}

.subheading {
  font-weight: bolder;
}

.subheading:last-of-type {
  margin-top: 32px;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1b1d1f;
  margin: 18px 0;
  border-radius: 10px;
  padding: 10px 18px;
}

.formatted-date {
  display: flex;
  flex-direction: column;
}

.forecast-day {
  font-weight: bolder;
  margin-bottom: 8px;
}

.forecast-month {
  font-size: small;
}

.forecast-temp {
  font-size: 32px;
  font-weight: bolder;
  padding: 20px;
}

.forecast img {
  width: 80px;
}

.toggle-section {
  float: right;
  display: flex;
  gap: 10px;
}

.toggle-text {
  transition: ease-in .5s;
}

.toggle-slider {
  background:hsl(210, 100%, 50%);
  height: 20px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 24px;
}

.toggle-circle {
  background: white;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-top: 1px;
  margin-bottom: 1px;
  transition: ease-in .5s;
}

@keyframes changeToDark {
  from {
    background-color: hsl(0, 4%, 80%);
  }

  to {
    background-color: hsl(0, 0%, 0%);
  }
}

@keyframes changeToLight {
  from {
    background-color: hsl(0, 0%, 0%);
  }

  to {
    background-color: hsl(0, 0%, 100%);
  }
}

@media screen and (min-width: 500px) {

  #main-screen, #weeklies {
    max-width: 400px;
    margin: 24px auto;
    border-radius: 20px;
  }

  #weeklies {
    padding: 24px;
  }
  
}
